/*===============================================================================*/
/*                                  GLOBAL STYLES                                */
/*===============================================================================*/

body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(10deg, #070707, #123450, #0a1a2a, #0a3558);
    color: #fff;
    background-color: #0a1a2a;
    background-image: url('../images/hexagonal_background_generated.webp'); /* Update with your image path */
    background-size: 100% auto;
    background-repeat: repeat-y;
    max-height: 50px;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: .5%;
}


/*===============================================================================*/
/*                                 HEADER STYLES                                 */
/*===============================================================================*/

header {
    background: #092230;
    color: #fff;
    padding: 10px 0;
    margin-bottom: 5px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 2.5px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 60px;
    margin-right: 20px;
    filter: invert(1);
}

.tecv-img {
    margin-top: 40px;
    margin-left: 10%;
    max-width: 80%;
    height: auto;
}

header .logo {
    margin: 0;
}

header nav {
    display: flex;
    align-items: center;
}

header .menu-icon {
    display: none; /* Hidden by default */
    cursor: pointer;
    font-size: 30px;
    color: #fff;
}

header .menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
}

header .menu svg {
    width: 70px;
    height: 70px;
}

header .menu .line {
    fill: none;
    stroke: white;
    stroke-width: 8; /* Increase the stroke width */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
header .menu .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 8; /* Match the increased stroke width */
}
header .menu .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 8; /* Match the increased stroke width */
}
header .menu .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 8; /* Match the increased stroke width */
}
header .menu.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 8; /* Match the increased stroke width */
}
header .menu.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 8; /* Match the increased stroke width */
}
header .menu.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 8; /* Match the increased stroke width */
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
    font-size: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #000000;
}

@media (max-width: 768px) {
    header nav ul {
        display: none; /* Hide nav list on small screens */
        flex-direction: column;
        background: #fafafa;
        position: absolute;
        top: 70px;
        right: 0; /* Position the menu from the right */
        width: 50%; /* Menu spans half the screen */
        padding: 10px; /* Add padding */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
        border-radius: 10px; /* Add border radius */
    }

    header nav ul.active {
        display: flex; /* Show nav list when active */
    }

    header nav .menu-icon {
        display: block; /* Show menu icon on small screens */
    }

    header nav ul li {
        margin: 10px 0; /* Adjust margin for small screens */
        font-size: 20px; /* Adjust font size for small screens */
    }
}


/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #438fa7;
    padding: 25px 20px;
    color: white;
    position: relative;
}

/* Navbar left section for logo */
.nav-left {
    display: flex;
    align-items: center;
}

/* Navbar logo image */
.nav-logo {
    height: 4.5em; /* Adjust the height of the logo */
    border-radius: 10px;
}

/* Navbar title */
.nav-title {
    font-size: 270%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: 'Dancing Script', cursive; /* Apply the custom font */
}

/* Navbar links container */
.nav-links {
    display: none; /* Hidden by default for mobile view */
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 6em; /* Adjusted to be below the hamburger icon */
    right: 10px;
    background-color: #020202;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #000; /* Added black border */
}

/* Navbar links styles */
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 2em;
    margin: 10px 0;
    font-family: 'LXGW WenKai TC', sans-serif; /* Apply the custom font */
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Show navbar links when active */
.nav-links.active {
    display: flex; /* Shown when menu is active */
}

/* Hamburger menu button styles */
.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
}

/* Hamburger menu lines styles */
.line {
    fill: none;
    stroke: white;
    stroke-width: 8; /* Increase the stroke width */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 8; /* Match the increased stroke width */
}
.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 8; /* Match the increased stroke width */
}
.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 8; /* Match the increased stroke width */
}

/* Hamburger menu opened state styles */
.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 8; /* Match the increased stroke width */
}
.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 8; /* Match the increased stroke width */
}
.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 8; /* Match the increased stroke width */
}

/* Responsive styles for small screens */
@media (max-width: 800px) {
    .nav-links {
        display: none; /* Hidden by default */
    }

    .nav-links.active {
        display: flex; /* Shown when menu is active */
    }
}


/*===============================================================================*/
/*                               TITLE SECTION                                   */
/*===============================================================================*/

section.title {
    background: url('../images/Underwater_Cave_HighRes.jpg') no-repeat center center/cover;
    color: #fff;
    padding: 10% ;
    clip-path: none;
    position: relative;
    border: 2px solid #fff; /* White line below title container */
    border-radius: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%; /* Flex 80% of the screen width */
    max-height: 700px; /* Set maximum height */
    margin: 0 auto; /* Center the section */
    margin-top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

/*===============================================================================*/
/*                               SECTION CONTENT                                 */
/*===============================================================================*/

.section-content {
    background: rgba(255, 255, 255, 0.85); /* Slightly transparent background to blend with hex background */
    color: #0a1a2a;
    padding: 12% 2% 5%; /* Add padding to ensure text is not touching the edges */
    margin: 4% auto; /* Center horizontally */
    width: 60%; /* Change width to fit-content to allow expansion */
    max-width: 1200px;
    max-height: 500px;
    box-sizing: border-box; /* Include padding in the element's total width and height */
    overflow: hidden; /* Prevent text overflow */
    text-align: center; /* Center align text */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.section-content h2, .section-content p {
    margin: 0; /* Remove default margins */
}

.section-content:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.section-content p,
.section-content ul li {
    padding-bottom: 2%; /* Add padding to extend the bottom part of the polygon */
}


/*===============================================================================*/
/*                              MISSION STYLES                                   */
/*===============================================================================*/

.mission p {
    margin: 5%;
    margin-bottom: 5px;
    text-align: center;
}

.mission h2 {
    font-size: 40px;
    text-align: center;
    margin-top: 9%;
    margin-left: 2%;
    margin-right: 5%;
    margin-bottom: 1%;
}
.mission h2-2 {
    font-size: 30px;
    text-align: center;
    margin: 2px 0;
    display: inline-block;
}

.mission h2-2::first-letter {
    font-weight: bold;
    color: rgb(0, 0, 0);
}


.mission h3 {
    text-align: center;
    margin-left: 2%;
    margin-right: 5%;
    margin-bottom: 20%;
    color: rgba(2, 38, 46, 0.938);
}


/*===============================================================================*/
/*                              ABOUT STYLES                                     */
/*===============================================================================*/

.about h2 {
    font-size: 40px;
    text-align: center;
    margin-left: 2%;
    margin-right: 5%;
    margin-bottom: .5%;
}

.about h2-2 {
    font-size: 30px;
    text-align: center;
    margin: 2px 0;
    display: inline-block;
}

.about h2-2::first-letter {
    font-weight: bold;
    color: rgb(0, 0, 0);
}


.about p {
    font-size: 30px;
    text-align: center;
    margin-left: 2%;
    margin-right: 5%;
    padding-bottom: 1px;
}

.about ul {
    padding-top: 5px;
    list-style: none;
    padding: .5% 5%;
}

.about ul li {
    margin: 1% 0;
    list-style-type: square;
    color: #0a1a2a;
}

.about h3 {
    font-size: 20px;
    text-align: center;
    margin-left: 2%;
    margin-right: 5%;
    padding-bottom: 13%;
    padding-top: 2px;
}

.about h4 {
    font-size: 20px;
    text-align: center;
    margin-left: 2%;
    margin-right: 5%;
    padding-bottom: 10px;
    padding-left: 10%;
    padding-top: 2px;
}

section.about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    width: 100%;
    padding-top: 0%;
}

.tecv-img2 {
    width: 90%;
    height: auto;
    border: 2px solid #fff; /* White border around the image */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
    margin: 0 auto; /* Center the image */
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0; /* Adjust as needed for spacing */
    width: 100%; /* Ensure it doesn't exceed the container's width */
    height: auto; /* Maintain aspect ratio */
}

.responsive-iframe {
    width: 80%;
    height: 80vh; /* Set the height to 70% of the viewport height */
    max-width: 1200px; /* Set a max width */
    border: 2px solid #ffffff; /* Optional border for better visibility */
    border-radius: 10px; /* Optional rounded corners */
}

@media (max-width: 800px) {
    .responsive-iframe {
        width: 80%;
    }
}


/*===============================================================================*/
/*                                 IMAGE SECTION                                 */
/*===============================================================================*/

.image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 10%; /* Adjust as needed for spacing */
    width: 80%;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Set a max width to control image size */
}

.centered-image {
    width: 90%; /* Adjust width as needed */
    max-width: 800px;
    border: 2px solid #ffffff; /* White border */
    border-radius: 5%; /* Rounded edges */
    height: auto; /* Maintain aspect ratio */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
}



/*===============================================================================*/
/*                               LINKS STYLES                                    */
/*===============================================================================*/
.links-section .section-content.square {
    background: rgba(255, 255, 255, 0.85); /* Slightly transparent background to blend with hex background */
    color: #0a1a2a;
    padding: 12% 2% 5%; /* Add padding to ensure text is not touching the edges */
    margin: 4%;
    width: fit-content; /* Change width to fit-content to allow expansion */
    border-radius: 15px; /* Rounded corners */
    box-sizing: border-box; /* Include padding in the element's total width and height */
    overflow: hidden; /* Prevent text overflow */
    text-align: center; /* Center align text */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.links-section .section-content.square ul {
    list-style: none;
    padding: 5% 1%;
}

.links-section .section-content.square ul li {
    margin: 5% 0;
    list-style-type: square;
}

.links-section .section-content.square ul li a {
    text-decoration: none;
    color: #007bfe;
    transition: color 0.3s ease;
}

.links-section .section-content.square ul li a:hover {
    color: #0056b3;
}


.links ul {
    list-style: none;
    padding: 5% 1%;
}

.links ul li {
    margin: 5% 0;
    list-style-type: square;
}

.links ul li a {
    text-decoration: none;
    color: #007bfe;
    transition: color 0.3s ease;
}

.links ul li a:hover {
    color: #0056b3;
}


/*===============================================================================*/
/*                               FOOTER STYLES                                   */
/*===============================================================================*/

footer {
    background: #071218;
    color: #fff;
    text-align: center;
    padding: 2% 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
}

/*===============================================================================*/
/*                              HEXAGON GRID                                     */
/*===============================================================================*/

.hex-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.hex {
    position: relative;
    width: 120px;
    height: 138.56px;
    background-color: #0a1a2a;
    margin: 69.28px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer; /* Add pointer cursor */
    background-size: cover;
    background-position: center;
    transition: opacity 1s ease, transform 1s ease, border 1s ease; /* Add transition for border */
    opacity: 1;
    border: 5px solid transparent; /* Initially set border to transparent */
}
    
.hex:hover {
    background-color: rgba(255, 255, 255, 1); /* Solid white background on hover */
    transform: scale(1.5); /* Slightly increase size on hover */
    border-radius: 5px; /* Ensure border-radius transition if needed */
}

.hex-in {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.hex-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease; /* Add transition for transform */
}

.hex:hover .hex-img {
    transform: scale(1.1); /* Scale the image on hover */
}

.hex p {
    position: absolute;
    bottom: -30px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

/*===============================================================================*/
/*                              TOOLTIP STYLES                                   */
/*===============================================================================*/

/* Popup cue styles */
.popup-cue {
    display: none; /* Initially hidden */
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    transition: opacity 0.3s;
}

/* Add class to show popup cue */
.show-popup {
    display: block;
    opacity: 1;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position above the hexagon */
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: '';
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


/*===============================================================================*/
/*                              DESIGN SECTION                                   */
/*===============================================================================*/

.design-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
    border-radius: 10px;
    background: rgba(18, 91, 108, 0.5); /* Slightly transparent background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Ensure padding is included in the width */
    overflow: hidden; /* Prevent overflow */
    margin-top: 5%;
    padding-bottom: 5rem; /* Add padding at the bottom */
}

.design h2-2 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 0;
}

/* Center the grid within the design-section */
.design-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Always two columns */
    gap: 7%;
    margin-top: 2rem;
    width: 100%; /* Ensure the grid takes up full width */
    padding: 4% 4%; /* Add padding to prevent overflow */
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.design-item {
    background: rgba(255, 255, 255, 0.85); /* Slightly transparent background */
    color: #0a1a2a;
    padding: .5rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: center;
    width: 100%; /* Ensure the items take up full width */
    max-width: 600px; /* Set a max-width to prevent excessive stretching */
    margin: 0 auto; /* Center the items */
    margin-bottom: 5%;
}

.design-item h3 {
    margin-bottom: 1rem;
}

.design-item p {
    margin-bottom: 1rem;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.rectangle {
    width: calc(50% - 1rem); /* Two images per row with some spacing */
    height: 150px; /* Adjust the height as needed */
    margin: 0;
    background-size: contain; /* Ensure the entire image is visible */
    background-position: center;
    background-repeat: no-repeat; /* Prevent tiling */
    border-radius: 15px; /* Rounded edges */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer; /* Add pointer cursor */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.rectangle:hover {
    transform: scale(1.1); /* Slightly increase size on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Enhance shadow on hover */
}

.rectangle p {
    position: absolute;
    bottom: 10px;
    text-align: center;
    color: #06f4ec;
    font-weight: bold;
    border-radius: 2px;
    border-color:#000000;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .rectangle {
        width: calc(50% - 1rem); /* Two images per row with some spacing */
    }

    .design-grid {
        grid-template-columns: repeat(2, 1fr); /* Ensure two columns */
        gap: 1rem; /* Adjust gap between items */
        padding: 4% 4%; /* Add padding to prevent overflow */
    }

    .design-item {
        margin-bottom: 2rem; /* Adjust margin for spacing */
        padding-bottom: 2rem; /* Add padding at the bottom */
    }
}


/*===============================================================================*/
/*                              PHOTO SECTIONS                                   */
/*===============================================================================*/

.photo-sections {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 100%;
}

.photo-sections .section-content {
    background: rgba(255, 255, 255, 0.85); /* Slightly transparent background */
    color: #0a1a2a;
    padding: 12% 2% 5%; /* Add padding to ensure text is not touching the edges */
    margin: 4%;
    width: fit-content; /* Change width to fit-content to allow expansion */
    box-sizing: border-box; /* Include padding in the element's total width and height */
    overflow: hidden; /* Prevent text overflow */
    text-align: center; /* Center align text */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Rounded corners */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.photo-sections .section-content:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.photo-sections h2 {
    font-size: 40px;
    text-align: center;
    margin: 0 0 20px 0;
}

.photo-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.rectangle {
    width: calc(50% - 1rem); /* Two images per row with some spacing */
    height: 150px; /* Adjust the height as needed */
    margin: 0;
    background-size: contain; /* Ensure the entire image is visible */
    background-position: center;
    background-repeat: no-repeat; /* Prevent tiling */
    border-radius: 15px; /* Rounded edges */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer; /* Add pointer cursor */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.rectangle:hover {
    transform: scale(1.1); /* Slightly increase size on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Enhance shadow on hover */
}

.rectangle p {
    position: absolute;
    bottom: 1px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.7); /* Black background with some transparency */
    padding: 2px 5px; /* Add some padding around the text */
    border-radius: 2px; /* Rounded corners */
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .rectangle {
        width: 100%; /* Single column on small screens */
    }
}

/*===============================================================================*/
/*                              MODAL STYLES                                     */
/*===============================================================================*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    animation: fadeIn 0.5s; /* Fade in the modal */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    animation: slideIn 0.5s; /* Slide in the modal content */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#modalImage {
    width: 80%;
    height: 400px; /* Adjust the height as needed */
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-size: cover; /* Ensure the image covers the entire div */
    background-position: center;
    background-repeat: no-repeat;
}


.modal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer; /* Add pointer cursor */
}

.modal .close:hover,
.modal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal .rectangle {
    width: 80%;
    height: auto;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal .rectangle p {
    bottom: -40px;
}

.modal-text {
    margin-top: 20px;
}

.modal-text h2 {
    color: #0a1a2a;
    font-size: 50px;
}

.modal-text h3 {
    color: #0a3558;
    font-size: 20px;
}

.modal-text p {
    color: #0a1a2a;
    font-size: 16px;
}

/*===============================================================================*/
/*                              KEYFRAMES FOR ANIMATIONS                         */
/*===============================================================================*/

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(-60px); }
    to { transform: translateY(0); }
}

/*===============================================================================*/
/*                              RESPONSIVE STYLES                                */
/*===============================================================================*/

@media (max-width: 800px) {
    header nav ul {
        display: none;
        flex-direction: column;
        background: #0b3d59;
        position: absolute;
        top: 70px;
        right: 0; /* Position the menu from the right */
        width: 50%; /* Menu spans half the screen */
    }

    header nav ul.active {
        display: flex;
    }

    header nav .menu-icon {
        display: block;
    }

    header nav ul li {
        margin: 5% 0;
        font-size: 40px;
    }

    .section-content {
        clip-path: none;
        width: 90%;
        margin: 0 auto;
        display: block;
        text-align: left;
        border-radius: 10%;
        margin-top: 3%;
        margin-bottom: 0%;
    }

    .hex-grid {
        flex-direction: column;
        align-items: center;
    }

    .hex {
        width: 80px;
        height: 92.14px;
        margin: 46.07px 0;
    }

    .hex p {
        bottom: -20px;
    }

    .modal-content {
        width: 90%;
    }

    .modal .rectangle {
        width: 100%;
        height: auto;
    }

    .modal .rectangle p {
        bottom: -30px;
    }

    .modal-text h2 {
        font-size: 50px;
    }

    .modal-text h3 {
        font-size: 18px;
    }

    .modal-text p {
        font-size: 14px;
    }

    .design-grid {
        grid-template-columns: 1fr;
        padding-bottom: 10%;
    }

    .design-item {
        margin-bottom: 2rem;
        padding-bottom: 10%;
    }
}
